<div class="form-wrapper">
  <h1 class="text-center text-success">Name: <%= @user.username %></h1>
  <h2 class="text-muted">Email: <%= @user.email %></h2>
  <h2 class="text-muted">Birthday: <%= @user.birthday %></h2>
  <h2 class="text-muted">Address: </h2>
  <% if current_user == @user %>
    <button type="button" name="button" class="btn btn-success">Update Profile</button>
  <% end %>
</div>
