<% @events.each do |event| %>
  <div class="post-title">
    <h2>  <i class="glyphicon glyphicon-th-large text-info"></i>   <%= link_to "#{event.title}", event_path(event) %></h2>
  </div>
  <div class="cube center-block">
    <p class="date-data">Date: <%= event.date %></p>
  </div>
<% end %>
