<% @events.each do |event| %>
  <div class="post-title">
    <h2><%= link_to "#{event.title}", event_path(event) %></h2>
  </div>
  <div class="cube center-block">
    <p class="date-data"><%= event.date %></p>
  </div>
<% end %>
