<div class="form-wrapper">
  <h1 class="text-center text-primary">New Event</h1>
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.button :submit %>
  <% end %>
</div>



<!--
:date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %> -->
